<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
      integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./main.css" />
    <title>SEObase Dashboard</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <img src="./img/logo_white.svg" alt="seobase logo" class="logo" />
        <h3 class="header__dashboard">Dashboard</h3>
        <span class="header__user-email">admin@gmail.com</span>
      </header>
      <main class="user-account">
        <nav class="user-account__navbar">
          <ul>
            <li>
              <img
                src="./img/gear.png"
                alt="Acount Info icon"
                class="user-acount__icon"
              />
              <a href="#" class="user-acount__nav-option">Acount Info</a>
            </li>
            <li>
              <img
                src="./img/join.png"
                alt="Users icon"
                class="user-acount__icon"
              />
              <a href="#">Users</a>
            </li>
            <li>
              <img
                src="./img/subscription.png"
                alt="Subscription icon"
                class="user-acount__icon"
              />
              <a href="#">Subscription</a>
            </li>
            <li>
              <img
                src="./img/estimate.png"
                alt="Billing icon"
                class="user-acount__icon"
              />
              <a href="#">Billing</a>
            </li>
            <li>
              <img
                src="./img/invoices.png"
                alt="Invoices icon"
                class="user-acount__icon"
              />
              <a href="#">Invoices</a>
            </li>
            <li>
              <img
                src="./img/gdpr.png"
                alt="GDPR icon"
                class="user-acount__icon"
              />
              <a href="#">GDPR</a>
            </li>
            <li>
              <img
                src="./img/export.png"
                alt="Log out icon"
                class="user-acount__icon"
              />
              <a href="#">Log out</a>
            </li>
          </ul>
        </nav>
        <section class="user-account__display-screen">
          <h3 class="user-account__option-title">Account Info</h3>
          <button class="user-account__delete">Delete Account</button>
          <div class="user-account__option-display">
            <div class="account-info">
              <div class="account-info__alert">
                <img
                  src="./img/megaphone.png"
                  alt="alert icon"
                  class="account-info__alert-icon"
                />
                <p class="account-info__alert-message">
                  <strong>Verify your email.</strong> We sent the verification
                  link to <strong id="user-email">user@email.com</strong>
                </p>
                <button class="account-info__resend-button">
                  Resend the link
                </button>
              </div>
              <div class="account-info__content">
                <div class="account-info__option-wrapper">
                  <h4 class="account-info__option-key">Email:</h4>
                  <h5 class="account-info__ooption-value">admin@email.com</h5>
                </div>
                <div class="account-info__option-wrapper">
                  <h4 class="account-info__option-key">Password:</h4>
                  <div class="account-info__ooption-value">
                    <div>
                      <input
                        type="password"
                        class="acount-info__password-chage"
                        placeholder="Current password"
                      />
                    </div>
                    <div>
                      <input
                        type="password"
                        class="acount-info__password-chage"
                        placeholder="Set new password"
                      />
                    </div>
                    <div>
                      <input
                        type="password"
                        class="acount-info__password-chage"
                        placeholder="Confirm new password"
                      />
                    </div>
                    <button type="submit" class="account-info__passw-submit">
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
